#rotate {
    transform:rotate(160deg);
}

#skew {
    transform:skew(20deg, 20deg);
}

#all {
    transform:rotate(130deg);
    transform: skew(130deg,130deg);
    transform: translate(111,111);
}

@keyframes wow {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#animate {
  animation-name: wow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform: translateX(1000px);
}

@keyframes spin {
  100% {transform: rotate(1turn); }
}

#noot {
  animation-name: spin;
  animation: spin .1s linear infinite;
  animation-play-state: paused;
}

#noot:hover{
  animation-play-state: running;
}